.Card {
  height: 200px;
  margin-bottom: 20px;
  line-height: 200px;
  position: relative;
  opacity: 0.5;
}

.Card:hover {
  opacity: 0.8;
}


span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

h1 {
  text-align: center;
  margin-left: 10px;
  margin-bottom: 20px;
}


.img-height {
  height: 200px;
  width: 250px;
}


.text-block {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
  color: black;
  padding-left: 0px;
  padding-right: 0px;
  opacity: 1;
  font-weight: 700;
}

.hidden{
  visibility: hidden;
}